# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.directory

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Other
/bin/*.xml
/bin/*.qml
/bin/*.so.1
/bin/*.so.1.0
/bin/*.so.1.0.0
/help
/moc
/obj
Makefile
Makefile.*
*.stash
*.Release
*.Debug
*.output
*.dot
*.user
*.bak
/_trash
/debug/*
/release/*
qrc_*
