# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.so.1
*.so.1.0
*.so.1.0.0
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Qt
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*build-*

# Make
Makefile
Makefile*
Makefile.*

# Git
*.directory
*.stash

# Log
*.log
*.0
*.1
*.2
*.3
*.4
*.5
*.6
*.7
*.8
*.9

# Blender
*.blend1

# Project specific
/bin/*.xml
/bin/*.qml
/help
/moc
/obj
/_trash
/debug/*
/release/*
*.Debug
*.Release
*.output
*.dot
*.user
*.bak
